.cta {
  text-align: center;
  width: 60%;
  margin: 0 auto 200px auto;


  h1 {
    margin-bottom: 40px;
  }
}

footer {
  padding: 0 5%;
  background: #111;
  display: flex;
  align-items: center;

  a {
    color: white;
  }

  ul {
    float: right;
    margin: 0;

    li {
      display: inline-block;
      margin-left: 50px;
    }
  }

  .copy {

    a, p {
      display: inline-block;
      vertical-align: middle;
    }

    p {
      margin: 0 0 0 20px;
      font-weight: 600;
      color: white;

    }
  }

  ul, .copy {
    line-height: 80px;
    display: inline-block;
  }
}